body {
    padding: 0;
    margin: 0;
}
.intro {
    background-color: #bad4fa;
}
.intro {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btn {
    background: #5B92E5;
    border-radius: 5px;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}
.btn:hover {
    background: transparent;
    color: #5B92E5;
    border: 1px solid #5B92E5;
}
.info {
    margin-left: 8%;
    margin-top: 10%;
}
.info h1 {
    font-size: 40px;
    color: #444242;
}
.info h1 span {
    color: #5B92E5;
}
.info p {
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-img {
    max-width: 600px;
    height: auto;
    padding-top: 0%;

}
.social {
    margin-top: 25px;
}
.social a {
    font-size: 28px;
    color: #000;
    margin-right: 20px;
}
.social a:hover {
    color: #5B92E5;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card1 {
    width: 350px;
    height: 350px;
    border: solid 5px #5B92E5;
}
.card2 {
    width: 350px;
    height: 350px;
    border: solid 5px #5B92E5;
}
.card3 {
    width: 350px;
    height: 350px;
    border: solid 5px #5B92E5;
}